/* Root Variables */
:root {
    --dark-blue: #021526;
    --medium-blue: #03346E;
    --light-blue: #6EACDA;
    --light-yellow: #E2E2B6;
    --background-color: var(--light-blue);
    --text-color: var(--dark-blue);
    --button-bg-color: var(--medium-blue);
    --button-text-color: var(--light-yellow);
    --fontFamily-josefin-sans: 'Josefin Sans';
}

/* Light Mode Styles */
body.light-mode {
    --background-color: var(--light-blue);
    --text-color: var(--dark-blue);
    --button-bg-color: var(--medium-blue);
    --button-text-color: var(--light-yellow);
}

/* Dark Mode Styles */
body.dark-mode {
    --background-color: var(--dark-blue);
    --text-color: var(--light-yellow);
    --button-bg-color: var(--light-blue);
    --button-text-color: var(--medium-blue);
}

/* General Body Styles */
body {
    font-family: var(--fontFamily-josefin-sans);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 15px 50px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    z-index: 1000;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    padding-left: 20px;
    flex: 1;
}

#toggle-dark-mode {
    padding-right: 20px;
}

/* Container Styles */
section.container {
    margin-top: 60px;
    text-align: center;
    position: fixed;
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    color: var(--text-color);
}

/* Navigation Styles */
nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--button-bg-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--button-text-color);
}

/* Dark Mode Icon Styles */
.mode-icon {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

body:not(.dark-mode) .mode-icon i {
    color: var(--medium-blue);
}

body.dark-mode .mode-icon i {
    color: var(--light-yellow);
}

/* Button Styles */
button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-family: var(--fontFamily-josefin-sans);
}

button:hover {
    background: var(--button-text-color);
    color: var(--button-bg-color);
}

/* Section Styles */
.section {
    margin-top: 50px;
    display: none;
}

#clock-section {
    display: block;
}

/* Timezone Selector Styles */
.timezone-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

.timezone-display {
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Display Styles */
#clock, #timer-display, #stopwatch-display, #date {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Input Container Styles */
.input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-container input[type="number"] {
    width: 60px;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 10px;
}

.scroll-container label {
    margin-top: 5px;
    font-size: 0.8em;
}

/* Stopwatch Styles */
.clock-container {
    position: relative;
}

#clock-svg {
    transform: rotate(90deg);
    margin-top: 20px;
}

#second-hand {
    transform-origin: 50% 50%;
    transition: transform 0.1s linear;
}
