:root {
    --dark-blue: #021526;
    --medium-blue: #03346E;
    --light-blue: #6EACDA;
    --light-yellow: #E2E2B6;
    --background-color: var(--light-blue);
    --text-color: var(--dark-blue);
    --button-bg-color: var(--medium-blue);
    --button-text-color: var(--light-yellow);
}

body.light-mode {
    --backround-color: var(var(--light-blue));
    --text-color: var(--dark-blue);
    --button-bg-color: var(--medium-blue);
    --button-text-color: var(--light-yellow);
}

body.dark-mode {
    --background-color: var(--dark-blue);
    --text-color: var(--light-yellow);
    --button-bg-color: var(--light-blue);
    --button-text-color: var(--medium-blue);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: burlywood;
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

.container {
    text-align: center;
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    color: var(--text-color);
}

nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--button-bg-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--button-text-color);
}

.mode-icon {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

body:not(.dark-mode) .mode-icon i {
    color: var(--medium-blue);
}

body.dark-mode .mode-icon i {
    color: var(--light-yellow);
}

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: var(--button-text-color);
    color: var(--button-bg-color);
}

.section {
    display: none;
}

#clock, #timer-display, #stopwatch-display {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}
